/* .container {
    background-color: rgb(85, 255, 108);
    padding: 10px;
    margin-top:50px;
}

body{
    background-image: url("https://images2.alphacoders.com/805/805200.jpg");
    background-position: center;
    background-repeat: none;
}

.container-scritta {
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.immagine {
    width: 250px;
    height: 250px;
} */